##
# Clone and pull the repo
##
- name: Set up git configuration
  apt:
    name: git
    state: latest
  become: yes

- name: Clone or pull the latest watbioz-api code
  git:
    repo: '{{ api_repo_url }}'
    dest: '{{ app_api_dir }}'
    force: yes
